<!DOCTYPE>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="css/index.css">
	</head>
	
	<body>
		<div class="container">
			<nav>
				<div class="menu" id="principal">
					<ul>
						<li><a href="index.html"><img src="img/usuarios.png">Cadastro</a></li>
						<li><a href=""><img src="img/movimentacao.png">Movimentação</a></li>
						<li><a href=""><img src="img/relatorios.png">Relatórios</a></li>
						<li><a id="selecionado" href=""><img src="img/utilitarios.png">Utilitários</a></li>
					</ul>
				</div>
			</nav>
			<section id="opcoes">
				<a href="http://localhost:8080/parametros"><img src="img/parametros.png"></a>
			</section>
		</div>
	</body>
</html>